<div class="row">
	<div class="span12" style="text-align:center;">
		<h1>Welcome</h1>
		<p>Welcome to Objective, a modern blogging/CMS system built with Ruby on Rails!</p>
		<hr />	
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2 style="text-align:center">Objective.io Status</h2>
		<p class="text-success" style="text-align:center">All systems are running normally!</p>
		<ul>			
			<li>Cloud: Operational</li>
			<li>Backup: Operational</li>
		</ul>
	</div>
	<div class="span4">
		<h2 style="text-align:center">News &amp; Updates</h2>
		
	</div>
	<div class="span4">
		<h2 style="text-align:center">Blog Statistics</h2>
		
	</div>
</div>

