<div class="row">
	<div class="span12" style="text-align:center;">
		<h1>Welcome</h1>
		<p class="lead">Welcome to Objective, a modern blogging/CMS system built with Ruby on Rails!</p>
		<hr />	
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2 style="text-align:center">Objective.io Status</h2>
		<p class="text-success" style="text-align:center">All systems are running normally!</p>
		<ul>			
			<li>Cloud: Operational</li>
			<li>Backup: Operational</li>
		</ul>
	</div>
	<div class="span4">
		<h2 style="text-align:center">News &amp; Updates</h2>
		<ul>			
			<li><a href="#">Objective now supports custom widgets! - Check out the Widget Library now.</a></li>
			<li><a href="#">Some link to this other service that we just made available.</a></li>
		</ul>
	</div>
	<div class="span4">
		<h2 style="text-align:center">Blog Statistics</h2>
		<p><strong>Visitors currently on site: </strong>17</p>
		<p><strong>Most Visited Post: </strong><a href="#">Binary Property Lists</a></p>
		<p><strong>Visitors this month: </strong>179</p>
		<p><strong>Visitors YTD: </strong>1239</p>
	</div>
</div>

