<div class="row">
	<div class="span12" style="text-align:center;">
		<h1>New Post</h1>
		<p class="lead">Create a new blog post below.</p>
		<hr />	
	</div>
</div>
<div class="row">
	<div class="span12">
		<textarea rows="15" class="span12"></textarea>
	</div>
</div>
