<div class="row">
    <div class="span12" style="text-align:center;">
        <h1>Welcome</h1>

        <p class="lead">Objective Blogging Platform</p>

        <p>Thank you for installing Objective. Just enter the information below and then sit back and relax.<br>
        You'll be blogging in no time.</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="span7 offset2">
        <form class="form-horizontal">
            <p class="lead">Blog Information</p>

            <div class="control-group">
                <label class="control-label" for="blog_name">Blog Name:</label>

                <div class="controls">
                    <input type="text" id="blog_name" placeholder="Enter a name for your blog" class="span4">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="blog_name">Blog Tagline:</label>

                <div class="controls">
                    <input type="text" id="blog_name" placeholder="Every good blog has a tagline" class="span4">
                </div>
            </div>
            <hr>

            <p class="lead">Setup Information</p>

            <div class="control-group">
                <label class="control-label" for="blog_name">Domain:</label>

                <div class="controls">
                    <input type="text" id="blog_name" placeholder="http://objective.io" class="span4">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="blog_name">MongoDB Username:</label>

                <div class="controls">
                    <input type="text" id="blog_name" placeholder="Username" class="span4">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="blog_name">MongoDB Password:</label>

                <div class="controls">
                    <input type="password" id="blog_name" placeholder="Password" class="span4">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="blog_name">MongoDB Database:</label>

                <div class="controls">
                    <input type="password" id="blog_name" placeholder="objective_db" class="span4">
                </div>
            </div>
            <hr>

            <p class="lead">Author Information</p>

            <div class="control-group">
                <label class="control-label" for="blog_name">Author Username:</label>

                <div class="controls">
                    <input type="text" id="blog_name" placeholder="Hemingway" class="span4">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="blog_name">Author Password:</label>

                <div class="controls">
                    <input type="password" id="blog_name" placeholder="OldM@n0fTheS33!" class="span4">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="blog_name">Author Email:</label>

                <div class="controls">
                    <input type="password" id="blog_name" placeholder="ehemingway@oakpark.com" class="span4">
                </div>
            </div>

            <div class="span7" style="text-align:center; margin-top:30px;">
                <input class="btn btn-large" type="submit" value="Install">
            </div>
        </form>
    </div>
</div>
