<div class="pagination-centered">
	<%= link_to(image_tag("ObjIO.png"), root_url) %>
</div>
<h1><%= metablog.blog_name %></h1>
<p class="lead"><%= metablog.blog_description %></p>
<p class="lead muted" style="margin-left:3px;">Some Author</p>

<hr />

<h5><a href="#">Who Am I?</a></h5>
<h5><a href="#">Get In Touch</a></h5>
<h5><a href="#">Feed</a></h5>