<div class="post" style="margin: 20px 0px 60px 0px; padding-bottom:20px; border-bottom:1px solid #EEE">

	<% @posts.each do | post | %>
		<%= render partial: "post", locals: {:post => post } %>
	<% end %>
	
</div>